
:root{

    --dark-blue: rgba(4, 131, 242, 1);
    --medium-blue: rgba(29, 142, 242, 1);
    --light-blue: rgba(94, 173, 242, 1);
    --orange: rgba(242, 91, 4, 1);
    --bg: rgba(242, 242, 242, 1);

}

